<div class="container" style="background-image: url('splash.jpg');
min-height: 800px;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;">
   <h1 class="title">Login</h1>
   <div class="box">
      <div className="background"></div>
      <form action="/login" method="post">
         <div class="field">
            <label class="label">Email</label>
            <div class="control">
               <input class="input" type="email" placeholder="e.g. al@ace.ca" name="email" id="email">
            </div>
         </div>
         
         <div class="field">
            <label class="label">Password</label>
            <div class="control">
               <input class="input" type="password" name="password" id="password">
            </div>
         </div>
         <div class="control">
            <button type="submit" class="button is-link">Sign In</button>
         </div>
         <%
            if (message) { %>
            <p id="msg2" class="help is-danger">
               <%= message %>
            </p>
         <% } %>
      </form>
   </div>
</div>