.details-appear {
    opacity: 0.01;
    transform: translate(0, 50px);
}

.details-appear.details-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 200ms linear;
}

#details-overview-div {
    padding-left: 2em;
    transition-delay: 300ms;
}

#details-info-div {
    padding-right: 2em;
    transition-delay: 600ms;
}

#main-details {
    width: 100%;
}

#details-container .box {
    border-radius: 0;
    box-shadow: none;
}

#details-container .box .list {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#meta p {
    font-family: "Roboto Mono", 'cursive';
    color: grey;
}

/* spacing */
#details-title {
    margin-top: 0.5em;
}

#count {
    font-size: 0.8em;
    margin-bottom: 2em;
}

#details-release-date {
    margin-bottom: 2em;
}

#poster-div {
    padding-right: 0;
    max-width: 341px;
    min-width: 341px;
}

#details-div {
    padding-right: 0;
}

#details-tagline {
    margin-bottom: 2em;
}

.tag {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

#details-div {
    min-width: 300px;
}

#details-overview-div {
    padding-left: 2em;
}

#details-info-div {
    padding-right: 2em;
}

/*#details-div {*/
/*    max-width: 400px;*/
/*}*/

