.fade-appear {
    opacity: 0.01;
    transform: translate(0, 20px);
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition-delay: 2s;
    transform: translate(0, 0);
    transition: all 200ms linear;
}

#filterList {
    height: 800px;
}

#rightArrow {
  line-height: 800px;
  text-align: center;
}

#browse-header .title {
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0.5em;
}

#browse-container {
    margin: 0 2em 0 2em;
}

/* taken from https://www.w3docs.com/tools/code-editor/5704 */
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spin::before {
    animation: 0.75s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #000000;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}