.level-left .title:hover {
    cursor: pointer;
}

#movieList {
    overflow: scroll;
    height: calc(100vh - 237px);
}

.movielist-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
}

.single-movie {
    flex-basis: auto;
    margin-bottom: 1rem;
}

.single-movie:not(:last-child) {
    margin-right: 1rem;
}

