/*figure {*/
/*    position: relative;*/
/*    margin: 5px;*/
/*}*/

.delete {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

figure:hover .delete {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

/* TODO
favorites needs max height and overflow scroll
delete button doesn't work in dropdown :( -> change or make work????
*/
