.arrowPointerFilter {
    float: right;
}
.arrowPointerFilter i {
    cursor: pointer;
}
#filterList {
    height: 800px;
}

.input {
    margin: 2px;
}

.filters-level-2, .filters-level-3 {
    margin-left: 1rem;
}

ul {
    list-style: none;
}

input:not(:checked) + ul {
    display: none;
}

#filter, #sort, #year, #rating, #search  {
    display: none;
}

.filter-dropdown input[type=number] {
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    width: 100px;
    padding-bottom: 0px;
}
