#filterList {
    height: 800px;
}

#rightArrow {
  line-height: 800px;
  text-align: center;
}

#browse-header .title {
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0.5em;
}

#browse-container {
    margin: 0 2em 0 2em;
}