#castDetails {
    /*overflow: scroll;*/
    /*height: 800px;*/
}

#main-details {
    width: 100%;
}

#details-container .box {
    border-radius: 0;
    box-shadow: none;
}

#details-container .box .list {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#meta p {
    font-family: "Roboto Mono", 'cursive';
    color: grey;
}

/* spacing */
#details-title {
    margin-top: 0.5em;
}

#count {
    font-size: 0.8em;
    margin-bottom: 2em;
}

#details-release-date {
    margin-bottom: 2em;
}

#poster-div {
    padding-right: 0;
    max-width: 341px;
}

#details-div {
    padding-right: 0;
}



