.level-left .title:hover {
    cursor: pointer;
}

.clickableSorts {
    cursor: pointer;
}

.movielist-container {
    display: flex;
    flex-wrap: wrap;
}

.single-movie {
    flex-basis: auto;
}

.single-movie:not(:last-child) {
    margin-right: 1rem;
}

