#movieList {
    overflow: scroll;
    height: 800px;
}

#filterList {
    height: 800px;
}

#rightArrow {
  line-height: 800px;
  text-align: center;
}

#browse-header .title {
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
}